<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2009 Richard Lincoln

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#"
            class="CPSM.CPSMPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Production"
            class="CPSM.Generation.Production.ProductionPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_OperationalLimits"
            class="CPSM.OperationalLimits.OperationalLimitsPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Wires"
            class="CPSM.Wires.WiresPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Meas"
            class="CPSM.Meas.MeasPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_LoadModel"
            class="CPSM.LoadModel.LoadModelPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Equivalents"
            class="CPSM.Equivalents.EquivalentsPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Core"
            class="CPSM.Core.CorePackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_ControlArea"
            class="CPSM.ControlArea.ControlAreaPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Domain"
            class="CPSM.Domain.DomainPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://iec.ch/TC57/2008/CIM-schema-cim13#Package_Topology"
            class="CPSM.Topology.TopologyPackage"
            genModel="model/CPSM.genmodel"/>
   </extension>

</plugin>
